@import url("../ulits/colors.css");

#root {
  display: flex;
  justify-content: center;
  min-width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-family: "Arvo", serif;
  background-color: var(--background);
}
