@import url("../../ulits/colors.css");

.container {
  width: 1440px;
  margin: 0 auto;
}

.title {
  color: var(--orange);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.item_container {
  width: 100px;
  height: 100px;
  background-color: var(--grey);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  fill: var(--white);
  transition: fill 0.3s ease;
  cursor: pointer;
}
.item_container_big {
  width: 210px;
  height: 210px;
  background-color: var(--grey);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  fill: var(--white);
  transition: fill 0.3s ease;
  cursor: pointer;
}
.item_container.html:hover * {
  transition: fill 0.3s ease;
  fill: #fc490b;
}
.item_container.redux:hover * {
  transition: fill 0.3s ease;
  fill: rgb(211, 0, 211);
}
.item_container.bootstrap:hover * {
  transition: fill 0.3s ease;
  fill: rgb(109, 5, 109);
}
.item_container.mongoose:hover * {
  transition: fill 0.3s ease;
  fill: #910606;
}
.item_container.scss:hover * {
  transition: fill 0.3s ease;
  fill: #ca669b;
}
.item_container.git:hover * {
  transition: fill 0.3s ease;
  fill: #f25234;
}
.item_container.ts:hover * {
  transition: fill 0.3s ease;
  fill: rgb(55, 67, 236);
}
.item_container.socket:hover * {
  transition: fill 0.3s ease;
  fill: rgb(58, 57, 57);
}
.item_container.webpack:hover * {
  transition: fill 0.3s ease;
  fill: aqua;
}
.item_container.mui:hover * {
  transition: fill 0.3s ease;
  fill: aqua;
}
.item_container.express:hover * {
  transition: fill 0.3s ease;
  fill: #ffdf00;
}
.item_container.restapi:hover * {
  transition: fill 0.3s ease;
  fill: #61dbfb;
}

.item_container_big.react:hover * {
  transition: fill 0.3s ease;
  fill: #61dbfb;
}

.item_container_big.js:hover * {
  transition: fill 0.3s ease;
  fill: #ffdf00;
}
.item_container_big.css:hover * {
  transition: fill 0.3s ease;
  fill: #0f89ee;
}
.item_container_big.node:hover * {
  transition: fill 0.3s ease;
  fill: #3c873a;
}

.text {
  color: var(--white);
  margin-top: 10px;
  font-size: 12px;
}
.gallery_container {
  display: flex;
  justify-content: center;
}
.gallery_grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.gallery_grid_item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery_grid_item:hover {
  transform: rotate(1turn) scale(1.1);
}

.gallery_grid_item_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.gallery_grid_item_2 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gallery_grid_item_3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gallery_grid_item_4 {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gallery_grid_item_5 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_grid_item_6 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}
.gallery_grid_item_7 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}
.gallery_grid_item_8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gallery_grid_item_9 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery_grid_item_10 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery_grid_item_11 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery_grid_item_12 {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}
.gallery_grid_item_13 {
  grid-column-start: 4;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 1;
}
.gallery_grid_item_14 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.text_part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.soft_skills {
  list-style-type: disc;
  text-align: start;
  color: var(--orange);
  font-size: 16px;
  line-height: 30px;
  margin-left: 45px;
}

.languages_block {
  margin-bottom: 75px;
}

.languages_title {
  text-align: start;
  color: var(--white);
  font-size: 18px;
  margin-left: 45px;
  margin-bottom: 25px;
}

.languages {
  list-style-type: disc;
  text-align: start;
  color: var(--white);
  font-size: 16px;
  line-height: 30px;
  margin-left: 45px;
}
