@import url("../../ulits/colors.css");

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  color: var(--orange);
  font-weight: 700;
  font-size: 24px;
}

.skill_block {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  justify-content: space-around;
}

.list_item {
  margin: 30px;
}

.item_container {
  width: 200px;
  height: 300px;
  background-color: var(--grey);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  fill: var(--white);
  transition: fill 0.3s ease;
  cursor: pointer;
}

.item_container.html:hover {
  fill: #fc490b;
}
.item_container.css:hover {
  fill: #2196f4;
}
.item_container.js:hover {
  fill: #ffdf00;
}
.item_container.scss:hover {
  fill: #f25234;
}
.item_container.git:hover {
  fill: #f25234;
}

.text {
  color: var(--white);
  margin-top: 20px;
}
