@import url("../../ulits/colors.css");

.container {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: 60px;
}
.text {
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  width: 910px;
}