@import url("../../ulits/colors.css");

.container {
  width: 1240px;
  margin: 50px auto;
}

.title {
  color: var(--orange);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.carouselContainer {
  padding-bottom: 50px;
  max-width: 1240px;
  margin: 0 auto;
}
