@import url("../../ulits/colors.css");

.container {
  width: 1280px;
  margin: 50px auto;
}

.title {
  color: var(--orange);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.carouselContainer {
  padding-bottom: 50px;
  max-width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .container {
    margin: 0 auto;
    width: 768px;
  }
  .carouselContainer {
    padding-bottom: 50px;
    max-width: 760px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    margin: 0 auto;
    width: 420px;
  }
  .carouselContainer {
    padding-bottom: 50px;
    max-width: 420px;
  }
}
