@import url("../../ulits/colors.css");

.container {
  width: 1440px;
  margin: 50px auto 0 auto;
  height: 180px;
}

.title {
  color: var(--orange);
  font-weight: 700;
  font-size: 24px;
}

.contacts_block {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.contacts_item {
  width: 280px;
  cursor: pointer;
}

.image {
  margin-bottom: 10px;
  fill: var(--white);
  transition: fill 0.3s ease;
}

.image:hover {
  fill: var(--orange);
}

.link {
  color: var(--white);
}

.contacts_text {
  color: var(--orange);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
