@import url("../../ulits/colors.css");

.container {
  height: 180px;
}

.title {
  color: var(--orange);
  font-weight: 700;
  font-size: 24px;
}

.contacts_block {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.contacts_item {
  width: 280px;
  cursor: pointer;
}

.image {
  margin-bottom: 10px;
  fill: var(--white);
  transition: fill 0.3s ease;
}

.image:hover {
  fill: var(--orange);
}

.link {
  color: var(--white);
}

.contacts_text {
  color: var(--orange);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.logo {
  display: none;
}

@media screen and (max-width: 1279px) {
  .container {
    margin-top: 70px;
    width: 100%;
  }
  .contacts_text {
    font-size: 16px;
  }
  .contacts_item {
    width: 240px;
  }
  .contacts_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .logo {
    display: inline;
    margin-bottom: 20px;
  }
}
